body {
  color: #bfc1c8;
  background: #1e202b;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

.hero {
  background-size: cover;
  padding: 70px 0;
  min-height: 350px;
  background-image: url('../images/banner.png');
}

form input, form textarea, form select {
  outline: none;
  border: none;    /* padding: 10px; */
  border-radius: 30px;
}

.find-location {
  position: relative;
  margin-bottom: 70px;
}

.find-location input[type="text"] {
  width: 100%;
  padding: 20px 50px 20px 20px;
  background: #1e202b;
  color: white;
}

.find-location input[type="submit"] {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
}

.button, form input[type="submit"], form button, form input[type="reset"] {
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
}

.forecast-container {
  width: 100%;
  background: #323544;
  /*0display: table;*/
  /*table-layout: fixed;*/
  /*overflow: hidden;*/
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px;
}

.forecast-container .forecast {
  /*display: table-cell;*/
  /*vertical-align: top;*/
  flex: 1;
}

.forecast-container .forecast:nth-child(even) {
  background-color: #262936;
}

/*@media screen and (max-width:990px) {
  .forecast-container .forecast {
    display: block;
    width: 16.6667%;
    float: left;
  }

}*/

.forecast-container .forecast.today {
  /*width: 420px;*/
  flex: 4;
}

.forecast-container .forecast.today .forecast-header {
  *zoom: 1;
}

.forecast-container .forecast.today .forecast-header:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.forecast-container .forecast.today .forecast-header .day {
  float: left;
}

.forecast-container .forecast.today .forecast-header .date {
  float: right;
}

.forecast-container .forecast.today .forecast-content {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.forecast-container .forecast.today .location {
  font-size: 18px;
  font-size: 1.2857142857em;
  font-weight: 400;
}

.forecast-container .forecast.today .degree .num, .forecast-container .forecast.today .degree .forecast-icon {
  display: inline-block;
  vertical-align: middle;
}

.forecast-container .forecast.today .degree .num {
  font-size: 90px;
  font-size: 6.4285714286rem;
  margin-right: 30px;
}

.forecast-container .forecast.today span {
  margin-right: 20px;
}

.forecast-container .forecast.today span img {
  margin-right: 5px;
  vertical-align: middle;
}

@media screen and (max-width:990px) {
  .forecast-container .forecast.today {
    /*display: block;*/
    width: 100%;
  }

}

.forecast-container .forecast .forecast-header {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-weight: 400;
}

.forecast-container .forecast .forecast-icon {
  height: 50px;
}

.forecast-container .forecast .forecast-content {
  padding: 50px 20px 10px;
  text-align: center;
}

.forecast-container .forecast .forecast-content .forecast-icon {
  margin-bottom: 20px;
}

.forecast-container .forecast .forecast-content .degree {
  font-size: 24px;
  font-size: 1.7142857143em;
  color: white;
  font-weight: 700;
}

.forecast-container .forecast .forecast-content small {
  font-size: 16px;
  font-size: 1.1428571429em;
}