<div class="forecast-table">
	<div class="container">
		<div class="forecast-container">
			<div class="today forecast">
				<div class="forecast-header">
					<div class="day">{{current_day}}</div>
					<div class="date">{{current_date}}</div>
				</div> <!-- .forecast-header -->
				<div class="forecast-content">
					<div class="location">{{loc_name}}</div>
					<div class="degree">
						<div class="num">{{current_temp}}<sup>o</sup>C</div>
						<div class="forecast-icon">
							<img src="{{current_icon}}" alt="" width="90">
						</div>	
					</div>
					<span><img src="./images/icon-umberella.png" alt="">{{current_humidity}}%</span>
					<span><img src="./images/icon-wind.png" alt="">{{current_wind}}km/h</span>
					<span><img src="./images/icon-compass.png" alt="">{{current_wind_dir}}</span>
					<small>{{current_text}}</small>
				</div>
			</div>
			<div class="forecast">
				<div class="forecast-header">
					<div class="day">{{day2_day}}</div>
				</div> <!-- .forecast-header -->
				<div class="forecast-content">
					<div class="forecast-icon">
						<img src="{{day2_icon}}" alt="" width="48">
					</div>
					<div class="degree">{{day2_temp}}<sup>o</sup>C</div>
					<small>{{day2_text}}</small>
				</div>
			</div>
			<div class="forecast">
				<div class="forecast-header">
					<div class="day">{{day3_day}}</div>
				</div> <!-- .forecast-header -->
				<div class="forecast-content">
					<div class="forecast-icon">
						<img src="{{day3_icon}}" alt="" width="48">
					</div>
					<div class="degree">{{day3_temp}}<sup>o</sup>C</div>
					<small>{{day3_text}}</small>
				</div>
			</div>
			<div class="forecast">
				<div class="forecast-header">
					<div class="day">{{day4_day}}</div>
				</div> <!-- .forecast-header -->
				<div class="forecast-content">
					<div class="forecast-icon">
						<img src="{{day4_icon}}" alt="" width="48">
					</div>
					<div class="degree">{{day4_temp}}<sup>o</sup>C</div>
					<small>{{day4_text}}</small>
				</div>
			</div>
			<div class="forecast">
				<div class="forecast-header">
					<div class="day">{{day5_day}}</div>
				</div> <!-- .forecast-header -->
				<div class="forecast-content">
					<div class="forecast-icon">
						<img src="{{day5_icon}}" alt="" width="48">
					</div>
					<div class="degree">{{day5_temp}}<sup>o</sup>C</div>
					<small>{{day5_text}}</small>
				</div>
			</div>
			<div class="forecast">
				<div class="forecast-header">
					<div class="day">{{day6_day}}</div>
				</div> <!-- .forecast-header -->
				<div class="forecast-content">
					<div class="forecast-icon">
						<img src="{{day6_icon}}" alt="" width="48">
					</div>
					<div class="degree">{{day6_temp}}<sup>o</sup>C</div>
					<small>{{day6_text}}</small>
				</div>
			</div>
			<div class="forecast">
				<div class="forecast-header">
					<div class="day">{{day7_day}}</div>
				</div> <!-- .forecast-header -->
				<div class="forecast-content">
					<div class="forecast-icon">
						<img src="{{day7_icon}}" alt="" width="48">
					</div>
					<div class="degree">{{day7_temp}}<sup>o</sup>C</div>
					<small>{{day7_text}}</small>
				</div>
			</div>					
		</div>
	</div>
</div>